
body {
     font-family:Arial, Sans-Serif;
	 background-image:url("front.jpg");
}



.main-content {
height:80px;/*235px*/
background-color: #1b9236;
border-bottom-left-radius: 40px;/*90px*/
border-bottom-right-radius: 30px;/*80px*/
border-top: #1e6b30;
}



body{
	background-image: url("back.jpg");
	background-color: #cccccc;
}

.clearfix:before, .clearfix:after{
     content: "";
     display: table;
}
.clearfix:after{
     clear: both;
}
a{
     color:#0067ab;
     text-decoration:none;
}
a:hover{
     text-decoration:underline;
}
.form{
     width: 300px;
     margin: 0 auto;
}
input[type='text'], input[type='email'],
input[type='password'] {
     width: 200px;
     border-radius: 2px;
     border: 1px solid #CCC;
     padding: 10px;
     color: #333;
     font-size: 14px;
     margin-top: 10px;
}
input[type='submit']{
     padding: 10px 25px 8px;
     color: #fff;
     background-color: #0067ab;
     text-shadow: rgba(0,0,0,0.24) 0 1px 0;
     font-size: 16px;
     box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0;
     border: 1px solid #0164a5;
     border-radius: 2px;
     margin-top: 10px;
     cursor:pointer;
}
input[type='submit']:hover {
     background-color: #024978;
}


ul{
	float:right;
	list-style-type: none;
	
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration:none;
	color:#ffff;
	padding: 5px 20px;
	border:1px solid transparent ;
	transition:0.6s ease;
}
ul li a:hover{
	background-color :#ffff;
	color:#000;
}
ul li.active a{
	background-color :#ffff;
	color:#000;
}
.main{
	max-width:1200px;
	margin:auto;
}